@charset "utf-8";
/* ESTILO PARA TELA */ 

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: darkcyan;
}

header > h1 {
    text-align: center;
}

header ul {
    background-color: darkseagreen;
    list-style-type: none;
}

header li {
    display: inline;
    padding: 10px;
}

article {
    width: 600px;
    margin: auto;
}