@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: darkred;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.345);
    padding: 10px;
}
